
<div class="content" style="text-align:center">
  <h1> about </h1>
    <br>
    <div>
        <img src="content\img\aviv.jpg" style="width:180px; border-radius:50%; margin-right:20px;" />
        <img src="content\img\zuri.jpg" style="width:180px; border-radius:50%;" />
    </div>
    <br>

  <h3> About us </h3>
  <p class="pcenter" style="width:100%;"> Hello, We are Aviv and Tzuri, students in our third year in the Department of Information Systems Engineering. Under our portfolio you will find two single page application and a Pacman game that we prepared during the year.
We wanted to introduce you to our online disc ordering solution.</p>
<br>
<h3> Difficulties </h3>
<p>The process of building the site was not simple, since we had no experiment with areas that were foreign to us until the course, from client-side work, site design and site characterization to ease the user's use and finally integration of all these parts together.
We believe that we have done a good job in fulfilling the requirements that were given to us in a convenient, pleasant and especially functional way.

</p>
<br>
<h3> Our works </h3>
<br>
<a style="font-size:20px; text-decoration: none;" href="https://tzuriel.000webhostapp.com/index.html ">Tzuri's single page</a><br><br>
<a style="font-size:20px; text-decoration: none;" href="https://www.w3schools.com/html/">Aviv's single page</a><br><br>
<a style="font-size:20px; text-decoration: none;" href="‏‎http://alonprofile.com/AvivTzuri/index.htm">Pacman game</a>
<br>
<br>
<h3 style="text-decoration: underline;"> Hope you enjoy </h3>

</div>
